*{
    margin: 0;
    padding: 0;
}

/*body{
    background-image: url(../assets/bgfull.jpg);
    background-position: center;
}*/

.dalek1{
    width: 100px;
    height: 100px;
}

.dalek2{
    width: 130px;
    height: 130px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}

#area{
    position: relative;
    margin: 10px auto;
    width: 800px;
    height: 600px;
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:820px){
    #area{
        margin: 0;
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-height:820px){
    #area{
        margin-top: 100px;

    }
}




.painel{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 10px;
    left: 0;
    bottom: 0px;
    border-top: 1px solid #fff;
    background-color: #fff;
    opacity: 0.7;
}

.flex{
    display: flex;
    justify-content: space-evenly;
}

.vidas{
    
}

.cronometro{

    font-size: 20px;
    font-weight: bold;
}